body,
html {
  margin: 0;
  padding: 0;
  width: 650px;
  overflow: hidden;
}

#path {
  display: none;
}

#new-card {
  margin: 0 0 40px;
  position: relative;
}

blockquote {
  margin: 0;
  height: 74px;
  text-align: center;
  color: #fff;
  background: #00bcd4;
}

.card-arrow {
  position: absolute;
  top: 30px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}

#left-arrow {
  left: 25px;
}

#right-arrow {
  right: 25px;
}

h1 {
  margin: 0;
  line-height: 74px;
}

h2 {
  margin: 15px 0 3px;
  padding-left: 15px;
}

ul {
  margin: 0;
  padding: 0 15px;
  list-style: none;
}

li {
  color: #999;
  text-align: justify;
}

li a:first-child {
  font-size: 13px;
  color: #3d46bd;
}

a {
  color: #999;
}
