body,
html {
  margin: 0;
  padding: 0;
  width: 650px;
  overflow: hidden;
}

#new-card {
  margin: 0 0 40px;
  position: relative;
}

.publish-date {
  position: absolute;
  left: 14px;
  bottom: -29px;
  text-align: center;
  color: #999;
}

#path {
  display: inline-block;
}

.pagination {
  position: relative;
  top: 12px;
  text-align: center;
  color: #999;
}

blockquote {
  margin: 0;
  height: 74px;
  text-align: center;
  color: #fff;
  background: #00bcd4;
}

#read-more {
  margin-top: -6px;
  padding-right: 3px;
  height: 28px;
  text-decoration: none;
  line-height: 28px;
  background: #fff;  
}

#read-more::before {
  content: '';
  position: absolute;
  left: -28px;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-right: 28px solid #fff;
  border-bottom: 14px solid transparent;
}

#read-more,
.card-arrow {
  position: absolute;
  top: 30px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}

#left-arrow {
  left: 25px;
}

#read-more,
#right-arrow {
  right: 25px;
}

h1 {
  margin: 0;
  line-height: 74px;
}

h2 {
  margin: 15px 0 3px;
  padding-left: 15px;
}

ul {
  margin: 0;
  padding: 0 15px;
  list-style: none;
}

li {
  color: #999;
  text-align: justify;
}

li a:first-child {
  font-size: 13px;
  color: #3d46bd;
}

a {
  color: #999;
}
